css
/* Estilos generales de la página */
body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: #15151f;
    margin: 0;
    padding: 0;
    color: #eeee;
   
}



/* Encabezado */
.encabezado {
    background-color: #241b3b;
    text-align: center;
    padding: 45px;
    margin-bottom: 25px;
    border-bottom: 5px solid #c9a227;
}

h1 {
    color: #d4af37;
    font-size: 50px;
    margin: 10px;
}

.encabezado p {
    font-size: 21px;
}

/* Tarjetas de contenido */
.tarjeta {
    background-color: #29253a;
    width: 80%;
    margin: 25px auto;
    padding: 28px;
    border-radius: 18px;
    border: 1px solid #514a68;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Subtítulos */
h2 {
    color: #d4af37;
    font-size: 30px;
    border-bottom: 2px solid #d4af37;
    padding-bottom: 8px;

}


/* Párrafos */
p {
    font-size: 18px;
    line-height: 1.7;
    color:#d4af37;
}

/* Listas */
ul,
ol {
    font-size: 18px;
    line-height: 2;
}

/* Estilos para las imágenes */
img {
    display: block;
    width: 70%;
    max-width: 650px;
    margin: 25px auto;
    border-radius: 18px;
    border: 4px solid #d4af37;
}

/* Enlaces */
.enlaces a {
    display: block;
    width: fit-content;
    background-color: #d4af37;
    color: #18151f;
    text-decoration: none;
    padding: 13px 22px;
    margin: 14px 0;
    border-radius: 10px;
    font-weight: bold;
}

/* Efecto cuando se pasa el mouse */
.enlaces a:hover {
    background-color: #f0d875;
}



/* Pie de página */
footer {
    background-color: #241b3b;
    color: #d4af37;
    text-align: center;
    padding: 22px;
    margin-top: 35px;
}


